/* 
.card1{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-image: url('https://source.unsplash.com/1600x900/?nature') !important;
}
.card{
    background: #00000061;
    color: aliceblue;
    border-radius: 20px;
    padding: 10px 20px  ;
    width: 100%;
    max-width: 300px;
    height: 280px;
    border: 1px solid #00000061
   
}
.search-bar{
    border: 1px solid black;
    outline: none;
    border-radius: 20px;
    background: antiquewhite;
    width: calc(120% - 100px);
    height: 1.5em;
    padding: 5px 20px;
    color: black;
    padding: 5px 20px;
}
.search button{
    font-family: inherit;
    margin: 0.5em;
    border: none;
    border-radius: 10px;
    height: 1.8em;
    width: 1.8em;
    background: #7c7c7c2b;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.search button:hover{
    background-color: #7c7c7c0b;
}
.hey1{
    margin-top: 45px;
}
.description{
    padding-bottom: 6px;
}

.humidity{
    padding-top: 6px;
}
.wind{
    padding-top: 6px;
}  */
.search11:focus-visible{
    outline: none;
}
.outer_container{
    /* height: 100vh; */
    margin-top: 30px;
    width: 100%;
    /* background-image: url('https://source.unsplash.com/1600x900/?nature') !important; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0px 10px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inner_container{
    padding: 20px;
    border-radius: 10px;
    border: 1px solid lightgray;
    height: 300px;
    position: relative;
    width: 100%;
    max-width: 300px;
    background: #100e0e;
    /* background-color: white; */
    color: black;

}
.colored{
    color: white;
    font-weight: 500;
}

.cloud{
    animation: move 10s ease-in-out 0s infinite alternate;
}

@keyframes move {
    from{margin-left:-40px}
    to{margin-left:20px}
}


@media screen and (max-width: 600px) {
   .header{
    display: block;
    text-align: center;
   }

   .main_container{
    justify-content: center !important;
    margin: 0px auto;
   
   }
   .inner_container{
    max-width: 410px;
    height: 286px;
    margin-bottom: 5px;
   }

   .main_container button{
    margin-left: 10px;
   }
  }