<header class="header" style="margin-top: 25px;
padding: 10px;">
  <div>
    <p style="font-size: 40px;font-weight: 500;color: aqua;">Weather App</p>
  </div>

  <div style="border-radius: 6px;border: none;padding: 6PX 10PX;width: 100%;max-width: 400px;
  color: black;display: flex;justify-content: space-between;align-items: center;" (keyup.enter)="call(search_data)">
    <input type="text" class="search11" name="search" placeholder="Search"
      style="border-radius: 6px;border: 1px solid darkgray;padding: 10px 13px;width: 100%;max-width: 300px;"
      [(ngModel)]="search_data">

    <button id="submit" type="submit" style="padding: 11px 13px; 
      border: 1px solid aqua;
      color: #09f1f1;
      background-color: white;
      border-radius: 6px;cursor: pointer;" (click)="call(search_data)">Search</button>
  </div>
</header>


<div style="margin: 0px auto;width: fit-content;">
  <p style="display: inline;font-size: 40px;font-weight: 600;">Weather for {{WeatherData.name}}</p>
</div>

<div class="outer_container">
  <div class="inner_container" *ngIf="WeatherData">
    <div style="width: 100%;text-align: center;border-bottom: 1px solid white;margin-bottom: 14px;">
      <p style="color: white;display: inline;font-size: 25px;font-weight: 400px;">Tempreture</p>
    </div>

    <div>
      <div style="text-align:center;" *ngIf="WeatherData.is_day">
        <i class="fa fa-sun-o fa-4x" style="color: yellow;filter: drop-shadow(1px 1px 10px yellow);"></i>
      </div>

      <div style="text-align:center;" *ngIf="!WeatherData.is_day">
        <i class="fa fa-moon-o fa-4x" style="color: white;filter: drop-shadow(1px 1px 10px white);"></i>
      </div>

      <div *ngIf="!WeatherData.is_day" style="display: inline;position: absolute;    top: 270px;
      left: 16%;">
        <i class="fa fa-cloud fa-4x cloud" style="color: aqua;filter: drop-shadow(1px 1px 10px aqua);"></i>
      </div>
    </div>
    <div class="colored" style="text-align: center;font-size: 40px;">{{WeatherData.temp_celcius}}&deg;C</div>
    <div class="colored" style="text-align: center;font-size: 20px;">
      Tempreature : {{WeatherData.temp_celcius}}&deg;</div>
    <div class="colored" style="text-align: center;">Min Tempreature : {{WeatherData.temp_min}}&deg;</div>
    <div class="colored" style="text-align: center;">Max Tempreature : {{WeatherData.temp_max}}&deg;</div>
  </div>

  <div class="inner_container" *ngIf="WeatherData">
    <div style="width: 100%;text-align: center;border-bottom: 1px solid white;margin-bottom: 14px;">
      <p style="color: white;display: inline;font-size: 25px;font-weight: 400px;">Humidity Info</p>
    </div>

    <div>
      <div style="text-align:center;" *ngIf="WeatherData.is_day">
        <i class="fa fa-sun-o fa-4x" style="color: yellow;filter: drop-shadow(1px 1px 10px yellow);"></i>
      </div>

      <div style="text-align:center;" *ngIf="!WeatherData.is_day">
        <i class="fa fa-moon-o fa-4x" style="color: white;filter: drop-shadow(1px 1px 10px white);"></i>
      </div>

      <div *ngIf="!WeatherData.is_day" style="display: inline;position: absolute;    top: 270px;
      left:50%;">
        <i class="fa fa-cloud fa-4x cloud" style="color: aqua;filter: drop-shadow(1px 1px 10px aqua);"></i>
      </div>
    </div>
    <div class="colored" style="text-align: center;font-size: 40px;">{{WeatherData.main.humidity}}%</div>

    <div class="colored" style="text-align: center;">Feels Like: {{WeatherData.temp_feels_like}}&deg;</div>
    <div class="colored" style="text-align: center;">Humidity: {{WeatherData.main.humidity}}%</div>
  </div>

  <div class="inner_container" *ngIf="WeatherData">
    <div style="width: 100%;text-align: center;border-bottom: 1px solid white;margin-bottom: 14px;">
      <p style="color: white;display: inline;font-size: 25px;font-weight: 400px;">Wind Info</p>
    </div>

    <div>
      <div style="text-align:center;" *ngIf="WeatherData.is_day">
        <i class="fa fa-sun-o fa-4x" style="color: yellow;filter: drop-shadow(1px 1px 10px yellow);"></i>
      </div>

      <div style="text-align:center;" *ngIf="!WeatherData.is_day">
        <i class="fa fa-moon-o fa-4x" style="color: white;filter: drop-shadow(1px 1px 10px white);"></i>
      </div>

      <div *ngIf="!WeatherData.is_day" style="display: inline;position: absolute;    top: 270px;
      left:83%;">
        <i class="fa fa-cloud fa-4x cloud" style="color: aqua;filter: drop-shadow(1px 1px 10px aqua);"></i>
      </div>
    </div>

    <div class="colored" style="text-align: center;font-size: 40px;">{{WeatherData.wind.speed}}Km/hr</div>
    <div class="colored" style="text-align: center;">Wind speed : {{WeatherData.wind.speed}}</div>
    <div class="colored" style="text-align: center;">Sunset time : {{WeatherData.sys.sunset}}</div>
    <div class="colored" style="text-align: center;">Sunrise time : {{WeatherData.sys.sunrise}}</div>
  </div>
</div>